<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WillStereoDelay - AU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WillStereoDelay - All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WillStereoDelay - Shared Code.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>WillStereoDelay - Standalone Plugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>WillStereoDelay - VST.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0312C6772E17F5B646B009ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>050DF70E8A5DCB43653EB7E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05354D2C084CD6982463A3FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05511637B87D7ACE881CEC72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0991A46764E26960FE4B0C0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B5F95C62888E6E1C662231F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BB7DC9B87A989D3CD76B23E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E714FA1E365AD55C278C50B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1138B34E67F65776C481D1D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16360EA3F60F79977FFACFBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A621CFA1B342E76E52672B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B0705AF20A33DF09EF06E9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E4B807E4081904562ED7110</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EF4067BEB0EB3F0A0EF5C5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22CBD085F2D1DAA039F9837F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2392A62A14568B1DB073FD63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AEC9AF1024E907FFAAA3335</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3647D9250A7492DA875E9BBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B662778500E2A23A0877B5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42EE72DF7EC5001F3A039F99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B06A8E07D8278892D2B28D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E05CB4C9ADE37B57BA55AF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E1A42516C388707E66AF5CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F8327228794454C0A6F7956</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>540EC2867F6927BB1FBD7E88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>562BCB2B2D16E0641B3201CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59554FA6750CBEFFBB3F2951</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AA827451BB7A474D1E0508D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C46007682C8A9ABB22CC1E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D069E1554400B86BA8A4BEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D193D614CC80754A3FDE0F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FEC0B3D656A7A2018B0C31F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60489A5404E07A193E56C996</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61383D0B3F5C46B8D245989D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63956F0FBBD90E22A0B2B436</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>655A69DB7D020C1B09207AFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>679CC61D90063A1860744E71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68CC364DBDA39262AC5AFD38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>697397F63ED1CC82A4F61CAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BB5E0C9FBFFBDADDB9AE4D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C793F96C171A4A60FDE6ADC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D29372C9C69186BD8AD8B8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E5F81A32E9AEB32D5238B54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72D2DC7C2FFA1286001D09D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7322CACCC97887991E66ADF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>737F17AED2D530BADA7B706C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>739DAC997AEA3876F0C0B1DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78222BB3BB54699FCE06D400</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C43ADCB3FB95C541BD0FA7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E0564AE489D45D4A8712A32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E4E97DFA3904E7C5860377F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F06697B6373D2F3DAB4AE8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83452C6B2EF322A07A072360</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83831B5CF4D085B93809DE90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C73131EF775544A6330EAB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FC05B9DC48A49E9165D53B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>900BB52BF715DB865AEC96EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95A47F1B14950A3793DF0D87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9629250A8B3660A6C94EE103</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97D0CF1DEADA66BE92E0B89E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A01986DB8BCEE80018F18FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D1DD48570FA1A4B381344AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DEBD61C4069F8E403E6988F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1DA1C0284C2F9CE249C06F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3F2E0D7B1FDAA683434DBFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6E9FCCCF259D2182707359F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A77BD72134A16A4DA78EA58F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8A05465E544485D37B9D641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD1BCFC6AF45517B26A746EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE4A91E0F2049136A39E87E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0D1C2053B55F78693C88603</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3D4915ECE05C9A11FF61888</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE462BCF408D113D1C228681</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF3698DB2A99078C7D8C90CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C209043188333E7C1678D7D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4D464CFBFC3D2297BE1A54A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC56EEF7DF06E9AE30378A36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D071C59380594C02B803BDD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D65E40B89D56B45EC81D1DF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8B1912989ABEBB33332C1BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC90F0954FF5012D89F1CC1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E390DD9B54DD898AEF0342CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED4F6BDD173FF84C10D033E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED4F98959C603F9298D862AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED9A2671E79E709FD4B390D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDF2797370C532C4F019C9E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2623FBDCC4E7D64D3DECF4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5D72436A9AF9B3C1BE38BDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F62A0A0CC1472E4BEE042055</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD8DD9BE62126065AF193D74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
